@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,900;1,700&display=swap");

:root {
  --dark-color: #2b2727;
  --primary-color: #2b2727;
  --grey-color: rgba(255, 255, 255, 0.8);
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  color: #fff;
}

#root {
  perspective: 1000px;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  animation: flip linear 0.4s 2s 1 forwards;
  backface-visibility: hidden;
  background-color: var(--primary-color);

  img {
    width: 200px;
  }

  .loading-ball {
    background-color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: auto;
    margin-top: 25px;
    animation: pulse 1s 2 alternate;
  }
}

.main {
  background-color: var(--primary-color);
  min-height: 100vh;
  transform: rotateX(-90deg);
  animation: flipReverse linear 0.4s 2.5s 1 forwards;
  transition: background-color 0.5s, color 0.5s;

  .main-content {
    opacity: 0;
    animation: fadeIn 1s 3s 1 forwards;
  }

  .logo {
    width: 100px;
    position: absolute;
    top: 20px;
    left: 10px;
  }

  .style-switcher {
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    outline: none;
    background-color: transparent;
  }

  h1 {
    font-size: 1.5rem;
    font-weight: 900;
  }

  .my-input-group {
    position: relative;
    input,
    button {
      border: none;
      outline: none;
      background-color: transparent;
    }

    input {
      width: 100%;
      border: 1px solid #fffafa;
      border-radius: 15px;
      padding: 5px;
      color: #fff;
      transition: all 0.5s;
    }

    button {
      position: absolute;
      right: 10px;
      top: 4px;
      color: var(--bs-primary);
    }
  }

  .main-card-container {
    .main-card {
      color: var(--primary-color);
      background-color: var(--grey-color);
      padding: 20px;
      border-radius: 20px;
      width: 400px;
      transition: all 0.5s;
      h5 {
        font-weight: 600;
      }
    }
  }

  .days {
    color: var(--primary-color);
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    width: 400px;
    overflow: hidden;

    .row {
      flex-wrap: nowrap;
    }
  }
}

.main.light {
  background-color: #fffafa;
  color: var(--primary-color);

  .my-input-group {
    input {
      border: 1px solid var(--primary-color);
      color: var(--primary-color);
    }
  }

  .main-card-container {
    .main-card {
      color: #fff;
      background-color: var(--primary-color);
    }
  }
}

// Utilities
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes pulse {
  from {
    box-shadow: 0 0 3px var(--grey-color);
    transform: scale(1);
  }

  to {
    box-shadow: 0 0 10px var(--grey-color);
    transform: scale(1.2);
  }
}

@keyframes flip {
  to {
    transform: rotateX(90deg);
  }
}

@keyframes flipReverse {
  to {
    transform: rotateX(0);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media screen and(max-width: 600px) {
  .header div {
    margin-top: 50px;
  }

  .main {
    .main-card-container {
      .main-card {
        width: 300px;
      }
    }
    .days {
      width: 300px;
    }
  }
}
